<div class="index-container">
    <img src="images/beer.png" alt="Cartoon Beer">
    <button class="button" onclick="location.href='/beers'">Check the beers!</button>
    <button class="button" onclick="location.href='/random-beers'">Check a Random Beer!</button>
</div>